In [3]:
import pandas as pd
from pandasql import sqldf
import query_templates.deals as qt

In [4]:
d = qt.DEALS()
eh = qt.EMPLOYEE_HISTORY()

         deal_id      co_id  ... fund_id fund_name
0     136373-68T  435036-34  ...    '{}'      '{}'
1      97036-75T   91540-63  ...    '{}'      '{}'
2      57891-25T   91540-63  ...    '{}'      '{}'
3     157535-11T  439563-43  ...    '{}'      '{}'
4     148425-67T  377295-58  ...    '{}'      '{}'
...          ...        ...  ...     ...       ...
9995  147933-55T  346858-30  ...    '{}'      '{}'
9996  132808-06T  359426-62  ...    '{}'      '{}'
9997  150960-25T  353224-00  ...    '{}'      '{}'
9998  150942-16T  350257-78  ...    '{}'      '{}'
9999  143782-30T  369380-62  ...    '{}'      '{}'

[10000 rows x 24 columns]